 #CriarRecadoBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 67vh;
}
#CriarRecadoBody #CriarRecadoUl{
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    justify-content: center;
    width: 100vw;
    height: 55vh;
 }
 #CriarRecadoBody #CriarRecadoUl #divH1 {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
#CriarRecadoBody #CriarRecadoUl #divInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 40vh;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    box-shadow: 2px rgba(0, 0, 0, 0.11);
    border-style: none;
}
#CriarRecadoBody #CriarRecadoUl #divInput input{
    margin-bottom: 2.3vh;
    font-size: 2vh;
    width: 10vw;
    height: 5vw;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    box-shadow: 2px rgba(0, 0, 0, 0.11);
    text-align: justify;
    text-justify: inherit;
    text-orientation: sideways;
}
#CriarRecadoBody #CriarRecadoUl #divH1 h1{
    padding: 0 0 2.3vh 0;
    width: 10vw;
    height: 5vw;
    font-size: 1.8vh;
}
#CriarRecadoBody #CriarRecadoUl #divH1 h3{
    padding: 0 0 2.3vh 0;
    width: 10vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
}
#CriarRecadoBody #CriarRecadoUl #divH1 h2{
    padding: 0 0 2.3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    font-size: 1.8vh;
}   
#CriarRecadoBody button{
    border-radius: 8px;
    padding: 0;
    width: 8vw;
    height: 4vh;
}
#CriarRecadoBody #CriarRecadoUl #divInput #statusRadios #statusRadiosInput{
    height: 2vh;
    width: 2vh;
}
