
 #CriarRecadoBody{
    
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width: 100vw;
    padding-top: 25vh;
    height: 90vh;

    padding: 0 ;
    margin: 0;
    
    
  
    
}

#CriarRecadoBody #CriarRecadoUl{
    display: flex;
    flex-direction: row;
    padding-top: 20vh;
    justify-content: center;
    width: 100vw;
    height: 70vh;
     
 }


 #CriarRecadoBody #CriarRecadoUl #divH1 {
     padding-top: 20vh;
    display: flex;
    flex-direction: column;
    height: 4vh;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 1.3vh 0vw;
    
    
}

#CriarRecadoBody #CriarRecadoUl #divInput{
    padding-top: 20vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 10vw;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    box-shadow: 2px rgba(0, 0, 0, 0.11);
    height: 6vh;
    border-style: none;
    
    
}

#CriarRecadoBody #CriarRecadoUl #divInput input{
    padding: 0 0 2.9vh 0;
    font-size: 2vh;
    margin-bottom: 3vh;
    padding-left: 5px;
    padding-top: 5px;
    width: 10vw;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    box-shadow: 2px rgba(0, 0, 0, 0.11);
    height: 2.9vh;
    text-align: justify;
    text-justify: inherit;
    text-orientation: sideways;
    
    
    
}

#CriarRecadoBody #CriarRecadoUl #divH1 h1{
    padding: 0 0 3.5vh 0;
    margin-top: 2vh;
    height: 3.8vh;
    font-size: 1.8vh;
    
}

#CriarRecadoBody button{
    border-radius: 8px;
    padding: 0;
    width: 8vw;
    height: 4vh;

}



